body{
  font-family: 'Roboto Condensed', sans-serif;
}
.icon {
  width: 35px;
  height: 35px;
  /*border-radius: 50%;*/
}
.icon img{
    width: 25px;
}
.bg-theam{
  background-color: #3f51b5 !important;
}
.theam-border-primary {
  border-color: #3f51b5 !important;
}

.news{
  background-color: #fff;
  transition: all 0.3s ease;
}
.news:hover{
  background-color: #f2f2f2;
  transition: all 0.3s ease;
}

.btn-outline-primary {
    color: #3f51b5;
    border-color: #3f51b5;
}
.btn-outline-primary:hover{
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}